<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Věčný kalendář</title>
</head>
<body>
    <div class="page">
        <div class="flex-outer">
            <h2>Chybně zadané datum!</h2>
            <p>
                <a href="../templates/index.html"th:href="@{/}">Zpět</a>

            </p>

        </div>
    </div>
        
</body>
</html>
